.homeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission {

}
img {
    width:90%;
    display:block;
    place-content: center;
}

.test {
    background-color: black;
}
/* 
This is when it is over 40em large
*/
@media (min-width: 40em) {
    .homeInfo {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .mission {
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 60px;

        align-items: center;
        justify-content: center;
        text-align: center;
    }
    img {
        width:75%;
        display:block;
    }
    .card {
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}