.login {
    display: grid;
    text-align: left;
}

.bottom {
    text-align: left;
    margin-bottom: 20px;
}

.font {
    font-size:30px;
    text-align: center;
}

@media (min-width:40rem) {
    .login {
        display: grid;
        text-align: left;
    }
    .check {
        margin-top:75px
    }
    .font {
        font-size:40px;
        text-align: left;
    }
}