.login {
    display: grid;
    text-align: left;
}

.bottom {
    display: grid;
    text-align: left;
    margin-bottom: 20px;
}

.check {

}

@media (min-width:40rem) {
    .login {
        display: grid;
        text-align: left;
    }
    .check {
        margin-top:75px
    }
}