#left-column{
    position: fixed;
    top: 500px;
}
#heading-1{
    font-size: xx-large;
}
#heading-2{
    font-size: large;
}
#heading-3{
    padding-left: 70px;
}

#heading-middle{
    padding-left: 58px;

}

#right-column{
    padding-left: 20%;
}
#heading-popular{
  
    font-size: large;
}
#map-container{
    height: 400px;
    padding-left: 20%;
}
#heading{
    padding-left: 50px;
}
#card-display{
    padding-left: 20%;
}
